<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hello guys</title>
    <style>
      body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        gap: 2rem;
      }
      form {
        display: flex;
        flex-direction: column;
      }
      .correct {
        color: green;
      }
      .wrong {
        color: red;
      }

      img {
        width: 15rem;
        border-radius: 0.8rem;
      }

      p {
        font-weight: bold;
      }
    </style>
  </head>
  <body>
    <h2>Hello Guys welcome to our page☠️</h2>
    <p>come to our blog in here</p>
    <a href="/exif/blog">Go to blog</a>
  </body>
</html>
