<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Page</title>
    <style>
      :root {
        --gelap: #2c3333;
        --cerah: #e7f6f2;
        --primary: #a5c9ca;
      }

      body {
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: var(--gelap);
        color: var(--cerah);
        font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
          "Lucida Sans", Arial, sans-serif;
      }

      h1 {
        background: linear-gradient(to right, var(--primary), var(--cerah));
        color: transparent;
        -webkit-background-clip: text;
      }
    </style>
  </head>
  <body>
    <h1>401 Unauthorized X_X</h1>
  </body>
</html>
